<div class="ronde-vorm">
  <p class="browse">Browse this site in</p>

  <ul class="talen">
    <li>Nederlands</li>
    <li>
      <a href="English">English</a>
    </li>
    <li>
      <a href="Haags">Haags</a>
    </li>
  </ul>
</div>

<footer class="footer-container">
  <div class="snel-naar">
    <h3>Snel naar</h3>

    <ul class="links">
      <li>
        <a href="/home">home</a>
      </li>
      <li>
        <a href="/werk">werk</a>
      </li>
      <li>
        <a href="/ventures">ventures</a>
      </li>
      <li>
        <a href="/mensen">mensen</a>
      </li>
      <li>
        <a href="/vacatures">vacatures</a>
      </li>
      <li>
        <a href="/nieuws">Nieuws</a>
      </li>
      <li>
        <a href="/hoe-we-werken">hoe we werken</a>
      </li>
    </ul>
  </div>
  <div class="ons-werk">

    <h3>Ons werk</h3>
    <ul class="links">
      <li>
        <a href="/ai">AI</a>
      </li>
      <li>
        <a href="/apps">Apps</a>
      </li>
      <li>
        <a href="/websites">Websites</a>
      </li>
      <li>
        <a href="/vr">VR</a>
      </li>
      <li>
        <a href="/voice">Voice</a>
      </li>
      <li>
        <a href="/games">Games</a>
      </li>
      <li>
        <a href="/robots">Robots</a>
      </li>
      <li>
        <a href="/connected-devices">Connected devices</a>
      </li>
      <li>
        <a href="/backend-werk">Backend-werk</a>
      </li>
    </ul>
  </div>

  <section class="contact-info">

    <h3>Contact</h3>
    <p>Bel ons op 070 445 2342 of mail naar
      <a href="mailto:info@q42.nl" class="link">info@q42.nl</a>
    </p>

    <section class="offices">

      <h4>Amsterdam Office</h4>
      <p>Van Diemenstraat 296<br>1013 CR Amsterdam</p>
      <a href="#" class="link">Bekijk Q020 op Google Maps</a>

      <h4>Den Haag Office</h4>
      <p>Saturnusstraat 14<br>2516 AH Den Haag</p>
      <a href="#" class="link">Bekijk Q070 op Google Maps</a>

      <p>KvK 30164662 te Den Haag</p>

    </section>
  </section>

  <div class="social-media">

    <img src="/assets/Heartfilled.svg">
    <img src="/assets/Heartfilled.svg">
    <img src="/assets/Heartfilled.svg">
    <img src="/assets/Heartfilled.svg">
    <img src="/assets/Heartfilled.svg">
    <img src="/assets/Heartfilled.svg">
    <img src="/assets/Heartfilled.svg">
    <img src="/assets/Heartfilled.svg">


  </div>

  <section class="footer-bottom">
    <h5>Eirdra.Q42</h5>
    <p>We are part of Eidra, a consultancy collective helping leaders create great change.</p>

  </section>
</footer></body></html>