<!DOCTYPE html>
<html lang="nl">
  <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title> Q42 - mensen pagina</title>
  </head>
 <body>  

 <header>
    <nav>
    <details>
    <summary>Menu</summary>
    <ul class="nav-list">
        <li><a href="home"></a>home</li>
        <li><a href="werk"></a>werk</li>
        <li><a href="ventures"></a>ventures</li>
        <li><a href="over"></a>over</li>
        <li><a href="mensen"></a>mensen</li>
        <li><a href="nieuws"></a>nieuws</li>
    </ul>
    </details>
    </nav>
 </header>