<!DOCTYPE html>
<html lang="nl">
  <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="styleguide.css">
    <title> Q42 - mensen pagina</title>
  </head>
 <body>  

 <header>
    <nav>
    <details>
    <summary><img src="assets/hamburger.svg" class="hamburger-icoon" alt="menu-openen">
    <span class="menu-text">Menu</span>
    <img src="assets/close.svg" class="close-icoon" alt="menu-sluiten" />
      </summary>
    <ul class="nav-list">
        <li><a href="home">home</a></li>
        <li><a href="werk">werk</a></li>
        <li><a href="ventures">ventures</a></li>
        <li><a href="over">over</a></li>
        <li><a href="mensen">mensen</a></li>
        <li><a href="nieuws">nieuws</a></li>
    </ul>
    </details>
    </nav>
 </header>