<!DOCTYPE html>
<html lang="nl">
  <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="styleguide.css">
    <title> Q42 - mensen pagina</title>
  </head>
 <body>  

 <header>
 

  <input type="checkbox" id="menu-toggle" class="menu-toggle" >

  <label for="menu-toggle" class="menu-button">
    <img src="assets/hamburger.svg" class="hamburger-icoon" alt="menu-openen">
    <span class="menu-text">Menu</span>
    </label>

    <a href="contact" class="contact">contact</a>
  
    <img src="assets/close.svg" class="close-icoon" alt="menu-sluiten" />

<nav>
    <ul class="nav-list">
        <li><a href="home">home</a></li>
        <li><a href="werk">werk</a></li>
        <li><a href="ventures">ventures</a></li>
        <li><a href="over">over</a></li>
        <li><a href="mensen">mensen</a></li>
        <li><a href="nieuws">nieuws</a></li>
    </ul>
    </nav> 
 </header>

