@font-face {
    font-family: "ff-tisa-sans-web-pro";
    font-display: swap;
    src: url("/fonts/tisa-sans-web-pro-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "ff-tisa-sans-web-pro";
    font-display: swap;
    src: url("/fonts/tisa-sans-web-pro-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "ff-tisa-sans-web-pro";
    font-display: swap;
    src: url("/fonts/tisa-sans-web-pro-400-italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: "ff-tisa-sans-web-pro";
    font-display: swap;
    src: url("./fonts/tisa-sans-web-pro-300.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "proxima-nova";
    font-display: swap;
    src: url("/fonts/proxima-nova-900.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "proxima-nova";
    font-display: fallback;
    src: url("/fonts/proxima-nova-300.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
  }

  