* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: var(--light-background);
    background-color: var(--text-light-background);
    font-family: ff-tisa-sans-web-pro, sans-serif;
    font-size: 16px;
  }
  
.heading,h1,h2,h3,h4,h5 {
    font-family: proxima-nova, sans-serif;
    font-weight: 900;
    line-height: 110%;
  }

.intro {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
} 
  
h1 {
    font-size: 3.25rem;
    margin: 0 0 2.875rem;
}

nav {
    display: none;
}

.menu-buttons {
 display: flex;
 align-items: center;
 justify-content: space-between;
 /* width: 100%; */
 padding: 0.5rem 0.5rem;
}

.close-button {
    display: none;
}

.menu-button {
    display: flex;
    align-items: center;
}

.hamburger-icoon,
.menu-text, 
.contact { 
     padding:  0;
     margin: 0;
} 

.hamburger-icoon {
    width: 24px;
    height: 24px;
    display: inline-block;
}

.close-icoon {
    width: 24px;
    height: 24px;
}

.menu-toggle {
    position: absolute;
    opacity: 0;
} 

.menu-toggle:checked ~ nav {
    display: block;
    /* position: fixed;
    top: 0;
    left: 0; */
    height: 100vh;
    background-color: var(--Q42-green);
    width: 30%;
    /* z-index: 10; */
}

.menu-toggle:checked ~ .menu-buttons .hamburger-icoon,
.menu-toggle:checked ~ .menu-buttons .menu-text,
.menu-toggle:checked ~ .menu-buttons .contact  {
    display:none
}

.menu-toggle:checked ~ .menu-buttons {
    padding: 0;
}

.menu-toggle:checked ~ .close-button{
    display: inline-block;
    position: fixed;
    top: 0x;
    right: 50px;
    cursor: pointer;
    color: white;
    z-index: 1000;
}

.contact, .menu-text  {
    color: var(--Q42-green);
    text-decoration: none;
}

.nav-list a {
    color: var(--text-dark-background);
    text-decoration: none;
    display: block;
    padding: 10px;
}

.nav-list a:hover {
    color: var(--text-dark-background);
}

.nav-list a:focus {
    border: 1 solid black;
}

.nav-list {
    list-style-type: none;
}


@media (min-width: 760px) { 
    .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
   }

   nav {
    display: block;
   }

   .nav-list a  {
    color: var(--Q42-green);
   }

    .menu-button, .contact, .close-icoon, .close-button  {
    display: none;
   }
}


main.container {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    /* margin: 0 auto; */
    width: 100%;
    padding: 1rem; 
}

.users {
    list-style-type: none;
    padding: 5px 0;
    width: 100%;
    max-width: 300px;
}

.user-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    width: 100%;
}

ul li.users {
    position: relative;
    width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
} 

.text-block {
    position: absolute;
    bottom: 180px;
    left:1px;
    width: 200px;
    background-color:transparent;
    padding: 10px;
    z-index: 10;
    display: none; 
}

.text-block h2 {
    margin: 0;
}

@media (min-width: 600px)  {
    .user-list {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (min-width: 900px)  {
        .user-list {
        grid-template-columns: repeat(3, 1fr);
    }
    
 }
 
 @media (min-width: 1200px)  {
    .user-list {
        grid-template-columns: repeat(4, 1fr);
    }

}


.visually-hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
} 
  
.avatar-1 {
    display: none;
}

.avatars-toggle input[type="checkbox"]:checked ~ .avatar-0 {
    display: none;
}

.avatars-toggle input[type="checkbox"]:checked ~ .avatar-1 {
    display: inline;
}

.message-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 5px;
    margin-top: 0;
    /* display: none; */
} 

.like-form {
    /* display: none; */
}

.like-btn {
    position: absolute;
    top: 5px;
    right: 0;
    border:none;
}

.bericht {
    font-size: large;
    /* display: none; */
}

.vacature {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.vacature-info {
    display: flex;
    flex-direction: column;
}

.vacature-info > * {
    min-width: auto;
    margin: 0;
}

.lines {
    height: 2px;
    width: 100vw;
    background-color: var(--Q42-green);
    margin-top: 10px;
    margin-bottom: 10px;
}

img.right-arrow {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-left: auto;
    align-self: flex-start;
}

.vacature-btn {
    background-color: var(--Q42-green);
    color: var(--text-light-background);
    padding: 6px 14px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.2s ease;
    text-decoration: none;
    margin-bottom: 20px;
    text-align: left;
    width: 270px;
    height: 40px;      
}

.vacature-btn:hover {
    background-color: lightgreen;
}

@media (min-width: 760px) { 

    .vacature .lines {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        /* display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1em; */
    }

    .vacature-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* justify-content: center;
        align-items: flex-start;
        text-align: left;  */
        gap: 2em;
        /* margin: 0 auto; */
    }

    .vacature-info > * {
        min-width: 120px;
        flex: 0;
        text-align: left;
      }

      .vacature-info h3,
      .vacature-info p {
       min-width: 120px;
      }

      img.right-arrow {
        margin-left: auto;
        align-self: auto;
      }
    

}

.ronde-vorm {
    border-top-left-radius: 100% 20px;
    border-top-right-radius: 100% 20px;
    width: 100vw;
    height: 100px;
    padding: 0;
    background-color: var(--dark-background);
}

.browse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 1em; */
    margin: 0 auto;
    color: var(--text-dark-background);
}

.talen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 0 auto;
    color: var(--text-dark-background);
    list-style-type: none;
}

.talen a {
    text-decoration: none;
    color: var(--Q42-green);
}

/* footer */

.footer-container {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 0.5rem;
    background-color: var(--dark-background);
} 

.links a {
    text-decoration: none;
    color: var(--Q42-green);
}

.link {
    text-decoration: none;
    color: var(--Q42-green);
}

.social-media {
    display: none;
}

@media (min-width: 760px) {
    
.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "snelnaar onswerk contact"
    "snelnaar  onswerk office"
    "social social social"
    "bottom bottom bottom";
    gap:0.5rem;
}

.snel-naar {
    grid-area: snelnaar;
}

.ons-werk {
    grid-area: onswerk;
}

.contact-info {
    grid-area: contact;
}

.social-media {
    display: none;
    /* grid-area: social;
    display: flex;
    align-items: center;
    justify-content: center; */
}

.footer-bottom {
    grid-area: bottom;
}


}